flask==2.0.3
werkzeug==2.0.3
supabase==1.0.3
requests
psycopg2-binary==2.9.9
bcrypt==3.2.0
cohere==4.2.0
python-dotenv==0.19.2
gunicorn==20.1.0
flask-cors==3.0.10
python-jose==3.3.0
flask-session==0.4.0
pytest==7.0.1
pytest-cov==3.0.0
python-dateutil==2.8.2
